<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block css_link %}
    
    {% endblock %}

    <title>
      {% block page_title %}
      
      {% endblock %}
    </title>

  </head>
  <body>
  <nav>
    <ul class="nav">
      <li class="nav-items">
        <a href="{{ url_for('index') }}" class="nav-links">Home</a>
      </li>
      <li class="nav-items">
        <a href="https://github.com/shivamshinde123/Book-scrapper" target="_blank" class="nav-links">Source Code</a>
      </li>
    </ul>
  </nav>

  {% block content %} 
  
  {% endblock %}
  </body>
</html>